<!DOCTYPE html>
<html lang="en">
	{% include "_head.njk" %}
	<body>
				{%- include "_header.njk" -%}
				<main class="{% if page.url != '/' %}pad-top{% endif %}">
					{{ content | safe }}
				</main>
			{%- include "_footer-personal.njk" -%}
		<script src="/assets/app.min.js" defer></script>
	</body>
</html>
