<!DOCTYPE html>
<html lang="en">
{% include "_head.njk" %}

<body class="split-screen">
	<header {% if page.url != '/' or "/wayfinding" in page.url %} class="cap-height" {% endif %}>
		{% if page.url == '/' %}
		{%- include "_header-home.njk" -%}
		{% elif "/wayfinding" in page.url or "/colophon" in page.url or "/playground" in page.url %}
		{%- include "_header-wayfinding.njk" -%}
		{% else %}
		{%- include "_header.njk" -%}
		{% endif %}

		{% if page.url == '/' or "/wayfinding" in page.url or "/colophon" in page.url or "/playground" in page.url%}

		<div class="nav-desktop">
			<nav aria-label="Main navigation">
				<ul>
					<li class="no-wrap">
						<a href="/wayfinding">Wayfinding</a>
					</li>
					<li class="no-wrap">
						<a href="/colophon">Colophon</a>
					</li>
					<li class="no-wrap">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		{% endif %}

	</header>

	{% if page.url == "/" %}

	<div class="page-content">
		<a href="/studio" class="card-button">
			<h1>Studio</h1>
			<p>Web design, copy and email marketing</p>
		</a>

		<a href="/playground" class="card-button">
			<h1>Playground</h1>
			<p>Art, writing, and everything else</p>
		</a>

		{% if page.url == '/' or "/wayfinding" in page.url or "/colophon" in page.url or "/playground" in page.url%}
		<nav class="nav-mobile" aria-label="Main navigation">
			<ul>
				<li class="no-wrap">
					<a href="/wayfinding">Wayfinding</a>
				</li>
				<li class="no-wrap">
					<a href="/colophon">Colophon</a>
				</li>
				<li class="no-wrap">
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
		{% endif %}
	</div>

	{% else %}
		<div class="main-wrapper">
			<main>{{ content | safe }}</main>
			{% if "/playground" in page.url %}{%- include "_footer-personal.njk" -%}{% endif %}

			{% if "/wayfinding" in page.url or "/colophon" in page.url or "/playground" in page.url%}
			<nav class="nav-mobile" aria-label="Main navigation">
				<ul>
					<li class="no-wrap">
						<a href="/wayfinding">Wayfinding</a>
					</li>
					<li class="no-wrap">
						<a href="/colophon">Colophon</a>
					</li>
					<li class="no-wrap">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
			{% else %}
			{%- include "_footer-hello.njk" -%}
		</div>
		{% endif %}
	{% endif %}
	{% if page.url == '/' %}
	<div id="rebrand-modal" class="modal">
		<div>
			<p>This site was formerly <b>nevernotready.club</b> and it is now <b>francescoimola.com</b></p>
			<p>Same work, same person, I'm just finally online under my own name.</p>
			<button onclick="closeModal()">Makes sense, lemme in</button>
		</div>
	</div>
	{% endif %}
	<script src="/assets/app.js" defer></script>
	{% if "/playground" not in page.url and "/wayfinding" not in page.url and "/colophon" not in page.url and page.url != "/" %}
		<script src="/assets/cal.js" defer></script>
	{% endif %}
</body>

</html>