<!-- Footer CTA Card -->
<section class="cta cta--white">
  <h2>There's a chance I can do more</h2>
  <p>
    I'm a many-hats-wearer. I’ve worked on everything (and in over four sectors) from project facilitation to exhibitions, marketing and
    communication design. Just ask and I’ll send you over my full CV.
  </p>
  <div class="button-wrapper">
    <a
      href="mailto:francesco@nevernotready.club?subject=CV%20request"
      class="button button--onwhite"
      target="_blank"
      rel="noopener">
      <span>Request my CV</span>
    </a>
  </div>
</section>