<!-- General CTA Card -->
<section class="cta">
<h2>
  {%- if getReady -%}Get ready{%- else -%}Put a face to the name{%- endif -%}
</h2>
<p>Let's hop on a free 30 min call to discuss your project. I'll offer my advice and you can then see if we're a good
  fit. No strings attached.</p>
<a href="https://cal.com/francescoimola/intro" class="button" target="_blank" rel="noopener" data-slideframe="true">
  <span>Book your free call</span>
</a>
</section>