<!-- FAQ CTA Card -->
<section>
  <h2>Have a question? I got answers</h2>
  <p>
    It can be awkward to talk about money and how things work, I know. But fear
    not—I've answered all those tricky questions on my FAQ page.</p>
  <p>
    <a href="/faqs" class="uline">See FAQs</a>
  </p>
</section>
