{%- macro ctaSection(heading, description, primaryButtonText, secondaryButtonText) -%}
<section class="pad-bottom pop cap-width invert-bg">
	<h2>{{ heading }}</h2>
	<p>{{ description }}</p>
	<div class="buttons-wrapper">
		<a data-cal-link="francescoimola/intro" data-cal-namespace="intro"
				data-cal-config='{"layout":"month_view","theme":"light"}' class="button-like">{{ primaryButtonText }}</a>
		{%- if secondaryButtonText !== false %}
		<a href="mailto:hi@francescoimola.com" class="button-like invert no-ext-icon">{{ secondaryButtonText | default("Copy email instead") }}</a>
		{%- endif %}
	</div>
</section>
{%- endmacro -%}
