<!-- FAQ CTA Card -->
<section class="max-width center pad-bottom">
  <h2>Have a question? I got answers</h2>
  <p>I know it can be awkward to talk about money and how things work. That's why I went ahead and answered all those tricky questions on my FAQ page.</p>
  <div><a href="/faqs">See FAQs</a></div>
</section>