<!-- FAQ CTA Card -->
<section class="max-width center pad-bottom">
  <h2>Have a question? I got answers</h2>
  <p>It can be awkward to talk about money and how things work, I know. That's why I answered all those tricky questions on a dedicated page.</p>
  <div><a href="/faqs">See FAQs</a></div>
</section>