<footer role="contentinfo" class="pad-top">
  <section class="max-width center pad-bottom pad-top">
  <div class="f-innergroup">
	<br>
    <h2>Let me send you an email sometime</h2>
    <a
      href="https://notbadnotbad.substack.com/welcome"
      class="unpadded"
      target="_blank"
      rel="noopener"
      >Get my personal newsletter
    </a>
  </div>
  <div class="f-innergroup">
    <h2>Why is this website so, ahem, boring?</h2>
    <p>
      Sure, I wouldn't call it out of this world, but it's more accessible and much, much
      faster than most sites. Truth be told, it's in the global top 2% for speed.
    </p>
  </div>
  <div class="f-innergroup">
    <p>&copy; Francesco Imola, 2025. Built by hand with love & anxiety in Folkestone, Kent.</p>
  </div>
  </section>
</footer>
