<footer role="contentinfo" class="pad-top">
  <section class="max-width center pad-bottom pad-top">
  <div class="f-innergroup">
    <h2>Looking for the price tag?</h2>
    <p>
      <a href="/assets/Services Menu - Francesco Imola.pdf" target="_blank" rel="noopener">Download my Services Menu</a> to explore all my services, who they are for, and how much they cost. It's free!
    </p>
  </div>
    <div class="f-innergroup">
    <h2>Finally, something decent in your inbox</h2>
    <a
      href="https://notbadnotbad.substack.com/welcome"
      class="unpadded"
      target="_blank"
      rel="noopener"
      >Subscribe to my newsletter
    </a>
  </div>
  <div class="f-innergroup">
    <h2>Yeah, but who's this guy really?</h2>
    <a
      href="mailto:hi@francescoimola.com?subject=CV%20request"
      class="unpadded link"
      target="_blank"
      rel="noopener"
    >
      Request my CV
    </a>
  </div>
  <div class="f-innergroup">
    <h2>Why is this website so, ahem, boring?</h2>
    <p>
      I wouldn't call it out of this world, but sure is more accessible and much
      faster than most sites. Speed-wise, it's in the global top 2%.
    </p>
  </div>
  <div class="f-innergroup">
    <p>&copy; 2025. Built by hand with love and anxiety in Folkestone, Kent.</p>
  </div>
  </section>
</footer>
