<footer role="contentinfo">
  <div class="f-innergroup">
	<br>
    <h2>Get a special treat in your inbox</h2>
    <p>I occasially write personal essays, poems, and take photographs that I package into a newsletter. If you like surprises, you'll love this.</p>
    <a
      href="https://notbadnotbad.substack.com/welcome"
      target="_blank"
      rel="noopener"
      >Lemme read it first
    </a>
  </div>
  <div class="f-innergroup">
    <p>&copy; Francesco Imola, 2025. Built by hand with 💖 & anxiety in Folkestone, Kent</p>
  </div>
</footer>
