<footer role="contentinfo">
  <div class="footer-grid">
    <div class="f-group">
      <h3 class="f-heading">I'm just browsing</h3>
      <nav>
        <a href="/portfolio">Portfolio</a>
        <a href="/colophon">Colophon</a>
        <a href="/playground">Playground</a>
      </nav>
    </div>

    <div class="f-group">
      <h3 class="f-heading">I need help</h3>
      <nav>
        <a href="/services">Services</a>
        <a href="/how-i-work">How I work</a>
        <a href="/faqs">FAQs</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>

    <div class="f-group">
      <h3 class="f-heading">I'm procrastinating</h3>
      <nav>
        <a href="https://notbadnotbad.substack.com/welcome" target="_blank" rel="noopener">Newsletter</a>
        <a href="/playground">Playground</a>
        <span><s>Blog</s> (coming soon)</span>
        <a href="mailto:hi@francescoimola.com?subject=CV%20request">Request my CV</a>
      </nav>
    </div>

    <div class="f-group">
      <h3 class="f-heading">Let's do this</h3>
      <nav>
        <a href="/contact">Contact me</a>
        <a href="/services">Services</a>
      </nav>
    </div>
  </div>

  <div class="f-copyright">
    <p>&copy; 2025. Built (mostly) by hand with 💖 and anxiety in Folkestone, Kent</p>
  </div>
</footer>