<footer role="contentinfo">
    <div class="f-innergroup">
    <p>Finally, something decent in your inbox</p>
    <a
      href="https://notbadnotbad.substack.com/welcome"
      target="_blank"
      rel="noopener"
      >Subscribe to my newsletter
    </a>
  </div>
  <div class="f-innergroup">
    <p>Yeah, but who's this guy really?</p>
    <a
      href="mailto:hi@francescoimola.com?subject=CV%20request"
      class="link"
      target="_blank"
      rel="noopener"
    >
      Request my CV
    </a>
  </div>
  <div class="f-innergroup">
    <p>Why is this website so, ahem, boring?</p>
    <p>
      I wouldn't call it out of this world, but sure is more accessible and much
      faster than most sites. Speed-wise, it's in the global top 10%.
    </p>
  </div>
  <div class="f-innergroup">
    <p>&copy; 2025. Built by hand with 💖 and anxiety in Folkestone, Kent</p>
  </div>
</footer>
