<footer role="contentinfo">
  <span class="center" style="margin: unset;">{%- include "_logo.html" -%}</span>
  <div class="footer-content max-width center pad-bottom">
      <div class="f-innergroup">
      <h2>Finally, something decent in your inbox</h2>
      <a
        href="https://notbadnotbad.substack.com/welcome"
        class="button"
        target="_blank"
        rel="noopener"
      >Subscribe to my newsletter
      </a>
      </div>
       <div class="f-innergroup">
      <h2>Get answers to your questions</h2>
      <a
        href="/contact"
      >
        Ask me anything
      </a>
      </div>
      <div class="f-innergroup">
      <h2>Yeah, but who's this guy really?</h2>
      <a
        href="mailto:francesco@nevernotready.club?subject=CV%20request"
        class="button"
        target="_blank"
        rel="noopener"
      >
        Request my CV
      </a>
      </div>
      <div class="f-innergroup">
        <h2>Can't seem to find your Terms page?</h2>
        <p>Hold on. <a href="https://nevernotready.notion.site/Terms-of-Business-106e78091df380d387cbe92ec091a04e?pvs=4"
        class="button"
        target="_blank"
        rel="noopener">Here it is</a>
        </p>
      </div>
      <div class="f-innergroup">
        <p>Designed and built by hand with love and anxiety in Folkestone, Kent</p>
        <p>&copy; 2025</p>
      </div>
    </div>
  </footer>