<nav aria-label="Main navigation">
    <div class="logo-plus-nav">
        <a href="/" class="logo-link noselect" title="Francesco Imola - Home">{% include "_icons/_logo.njk" %}</a>
        <div class="nav-links desktop-nav">
            <a href="/" class="noselect">Home</a>
            <a href="/how-i-work" class="noselect">How I work</a>
            <a href="/portfolio" class="noselect">Portfolio</a>
            <a href="/playground" class="noselect">Playground</a>
            <a href="/services" class="noselect">Services</a>
            <a href="/contact" class="noselect">Contact</a>
        </div>
        <details class="mobile-menu">
            <summary aria-label="Toggle menu" class="noselect">
                <span class="hamburger noselect">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </summary>
            <div class="mobile-menu-panel">
                <div class="mobile-menu-links">
                    <a href="/" class="noselect">Home</a>
                    <a href="/services" class="noselect">Services</a>
                    <a href="/how-i-work" class="noselect">How I work</a>
                    <a href="/portfolio" class="noselect">Portfolio</a>
                    <a href="/playground" class="noselect">Playground</a>
                    <a href="/faqs" class="noselect">FAQs</a>
                </div>
                <a href="/contact" class="button-like invert noselect">Contact</a>
            </div>
        </details>
    </div class="logo-plus-nav">

    {% include "_home-icon.njk" %}
</nav>