<head>
  <title>{{ title }}</title>
  {%- include "_meta.njk" -%}
  <link rel="preload" as="style" href="{{ '/css/style.css' | url }}" />
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link
    rel="prefetch"
    href="/assets/fonts/subset-InstrumentSerif-Italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
</head>
