<head>
  <title>{{ title }}</title>
  {%- include "_meta.njk" -%}
  <link rel="preload" as="style" href="{{ '/css/style.css' | url }}" />
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link
    rel="prefetch"
    href="/assets/fonts/subset-InstrumentSerif-Italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
