<!-- Header/Navigation -->
<header class="nav" role="banner">
    <a href="/" class="{%- if page.url == '/' -%} active {%- endif -%}" class="logo-link" aria-label="nevernotready home">
        {%- include "_avatar.html" -%}
    </a>
    {%- include "_nav.njk" -%}
</header>