<section class="separate-below">
	<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto,f_auto/dpr_auto/francesco_kngh32.png"
		class="give-border" alt="close up of Francesco" loading="lazy" decoding="async" />
	<h2 class="pad-top-lg cap-width-sm">Hello, I'm Francesco. <span class="light">A designer, marketer, and cultural worker based in
			Folkestone, Kent.</span>
	</h2>
	<p class="pad-top-sm" >I spent the best part of a decade helping to platform emerging creatives. Now I show people what simple design and non-coercive marketing can do for them. This is my
			office on the web.</p>
	<p class="pad-top"><a href="/services" class="button-like invert pad-top-sm">Explore my offering</a><span class="light">&nbsp;
			<i>or</i>&nbsp;keep browsing ↓</span></p>
</section>