<section class="separator">
	<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto,f_auto/dpr_auto/francesco_kngh32.png"
		class="give-border" alt="close up of Francesco" loading="lazy" decoding="async" />
	<h2 class="pad-top-lg cap-width-sm">Hello, I'm Francesco. <span class="light">A designer, creative strategist, and Cultural worker based in
			Folkestone, Kent. This is my
			office on the web.</span>
	</h2>
	<p class="pad-top-sm" >I spent almost a decade helping to platform emerging creatives and executing campaigns across one
			of the UK's
			fiercest industries. Now I help small businesses regain control of their marketing without
			burning out.</p>
	<p class="pad-top"><a href="/services" class="button-like invert pad-top-sm">Explore my offering</a><span class="light">&nbsp;
			<i>or</i>&nbsp;keep scrolling ↓</span></p>
</section>