<div class="secondary-links">
	<a href="mailto:hi@francescoimola.com" class="small-link">Copy email</a>
	<a href="https://substack.com/@francescoimola" target="_blank" rel="noopener" class="small-link ">Substack</a>
	<a href="https://www.ninaprotocol.com/profiles/francescoimola?ref=CR1rTaVAEMud32pqEqRZRqxjYXjgia6xhZKmjFwkdUWP"
		target="_blank" rel="noopener" class="small-link ">Nina</a>
	<a href="https://www.linkedin.com/in/francesco-imola/" target="_blank" rel="noopener" class="small-link ">LinkedIn</a>
	<a href="https://sublime.app/fran" target="_blank" rel="noopener" class="small-link ">Sublime</a>
</div>