<div class="secondary-links">
	<a href="mailto:hi@francescoimola.com" class="small-like noselect">Copy email</a>
	<a href="https://substack.com/@francescoimola" target="_blank" rel="noopener" class="small-like noselect">Substack</a>
	<a href="https://www.ninaprotocol.com/profiles/francescoimola?ref=CR1rTaVAEMud32pqEqRZRqxjYXjgia6xhZKmjFwkdUWP"
		target="_blank" rel="noopener" class="small-like noselect">Nina</a>
	<a href="https://www.linkedin.com/in/francesco-imola/" target="_blank" rel="noopener" class="small-like noselect">LinkedIn</a>
	<a href="https://sublime.app/fran" target="_blank" rel="noopener" class="small-like noselect">Sublime</a>
</div>