<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Site description -->
{%- if description -%}
<meta name="description" content="{{ description }}" />
{%- endif -%}

<!-- Canonical URL -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<!-- Open Graph / Social Media -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:site_name" content="Francesco Imola" />
<meta
  property="og:url"
  content="{{ site.url }}{{ page.url }}"
/>
<meta property="og:description" content="{{ description }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ ogimage | default('https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1200,f_auto/dpr_auto/Open_Graph_Image_rfqysu.png') }}" />
