<!-- Newsletter Section -->
<section class="section">
    <h2>Join my mailing list</h2>
    <p>
        Get twice-monthly stories on what's going right around the world, alternative ways of doing business, plus invites to
        our community events.
    </p>
    <div class="button-wrapper">
        <a href="https://newsletter.nevernotready.com" class="button button--light" target="_blank" rel="noopener">
            <span>Lemme read it first</span>
        </a>
    </div>
    <small>Read by 1,400+ people monthly</small>
</section>