<!-- Newsletter Section -->
<div class="no-limits">
<section>
  <h2>Join Not Bad, my mailing list</h2>
  <p>
    Independent business owner? Get realistic alternatives to hustle culture and honest stories about my own struggles and successes running a freelance business.</p>
  <a
    href="https://notbadnotbad.substack.com/"
    class="button"
    target="_blank"
    rel="noopener"
  >
    <span>Lemme read it first</span>
  </a>
  <small>Read by 1,400+ people monthly</small>
</section>
<a href="https://notbadnotbad.substack.com/" target="_blank" rel="noopener">
  <img
  data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1746045784/not_bad_wkqg3w.png"
  class="cld-responsive green"
  alt="screeenshot of the folks directory homepage" 
  loading="lazy"
/>
</a>
<div></div>
</div>
