{%- macro playgroundProject(title, year, link, description, images) -%}
<div class="work playground">
  <div class="cap-width">
    {% if link %}
      <h3><a href="{{ link }}">{{ title }}</a></h3>
    {% else %}
      <h3>{{ title }}</h3>
    {% endif %}
    <span class="light">{{ year }}</span>
  </div>
  {% if description %}
    <p>{{ description }}</p>
  {% endif %}
  {% if images and images.length > 0 %}
    <div class="image-scroll">
      {% for image in images %}
        {% set imageName = image.src | split('/') | last | split('.') | first %}
        {% set imageExt = image.src | split('.') | last | lower %}
        {% set fallbackFormat = 'png' if imageExt == 'png' else 'jpeg' %}
        <picture>
          <source type="image/webp" srcset="/assets/images/{{ imageName }}.webp">
          <img src="/assets/images/{{ imageName }}.{{ fallbackFormat}}" alt="{{ image.alt }}" loading="lazy" decoding="async">
        </picture>
      {% endfor %}
    </div>
  {% endif %}
</div>
{%- endmacro -%}