{%- macro projectCard(role, description, image) -%}
<div class="work">
  <figure>
    {% if image %}
      <img
        data-src="{{ image.src }}"
        class="cld-responsive white-bkg"
        alt="{{ image.alt }}"
        loading="lazy"
      />
      {% if image.title %}
        <figcaption>{{ image.title }}</figcaption>
      {% endif %}
    {% endif %}
  </figure>
  {% if role %}
    <span class="role">{{ role }}</span>
  {% endif %}
  {% if description %}
    <span class="description">{{ description | safe }}</span>
  {% endif %}
</div>
{%- endmacro -%}