{%- from "_img.njk" import imgTag -%}
{%- macro projectCard(role, description, image) -%}
<div class="work">
  <figure>
    {% if image %}
      {{ imgTag(image.src, image.alt, false, null, null, 'give-border') }}
      {% if image.title %}
        <figcaption>{{ image.title }}</figcaption>
      {% endif %}
    {% endif %}
  </figure>
  {% if role %}
    <span class="role">{{ role }}</span>
  {% endif %}
  {% if description %}
    <span class="description prevent-orphan">{{ description | safe }}</span>
  {% endif %}
</div>
{%- endmacro -%}