<!-- Work Showcase Section -->
{%- macro showcaseCard(imagePaths) -%} {%- set baseUrl =
"https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/" -%}
  <section class="container-padding no-h-margin">
    <h2>Selected work</h2>
    <a href="/projects" aria-label="View selected projects" class="no-outline">
      <span {# class="no-limits" #} class="img-flex">
        {%- for path in imagePaths -%}
        <span class="image-container">
          <img
            data-src="{{ baseUrl + path.src }}"
            class="cld-responsive green"
            alt="{{ path.alt }}"
            loading="lazy"
          />
          <span class="overlay-text">See selected projects</span></span
        >
        {%- endfor -%}
      </span>
    </a>
  </section>
{%- endmacro -%}
