<!-- Work Showcase Section -->
<section>
  <h2>Work I'm proud of</h2>
  <a href="/projects" aria-label="View selected projects">
    <span class="no-limits">
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744642248/blueberry_ycximz.png"
        class="cld-responsive"
        alt="selection of works from Blueberry"
        loading="lazy"
      />
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744642248/sarah_ql5qiz.png"
        class="cld-responsive"
        alt="sarah's website"
        loading="lazy"
      />
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      /><img
      data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
      class="cld-responsive"
      alt="screeenshot of the folks directory homepage"
      loading="lazy"
    />
      
    </span>
    <span>See work selection</span>
  </a>
</section>
