<form id="signup-form" class="mailing-list-card pad-bottom pop cap-width">
	<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_lfill,w_1294,f_auto/dpr_auto/trees.webp" width="647"
		height="511" alt="blurry colourful trees in motion" loading="lazy" decoding="async" />
	<div>
		<h2>Finally, something decent in your inbox</h2>
		<p class="pad-top-md">Join my mailing list and get occasional updates about:</p>
		<ul class="plain-list">
			<li>🌱 New projects and experiments</li>
			<li>🎫 Invites to future gatherings and workshops</li>
			<li>💸 Special offers and surprises (the good kind)</li>
		</ul>
		<p class="pad-top-md">Never any spam or AI slop, and you can unsubscribe anytime.</p>
		<div class="form-field pad-top-lg">
			<label for="email" class="noselect"><b>Email</b></label>
			<input type="email" id="email" name="email" placeholder="your@email.com" required />
		</div>

		<div class="form-field checkbox-field">
			<label>
				<input style="margin-bottom: 2px" type="checkbox" id="privacyConsent" name="privacyConsent" required />
				<span class="small-like noselect">I'm happy to get updates and I understand how my data is handled (<a
						href="https://francescoimola.notion.site/Privacy-Communications-Notice-Francesco-Imola-106e78091df3803aa3cdf5d614ae6146"
						target="_blank">see Privacy Notice</a>)</span>
			</label>
		</div>

		<input type="hidden" name="mailingLists" value="cmhf2vsgg03tb0iy66moa7r2h">
		<button type="submit" class="pad-top-md noselect inverted-button" id="submit-button">
			Yes, keep me posted
		</button>
		<div id="form-message" class="form-message"></div>
	</div>
</form>