<div class="pad-top">
  <section class="pad-top max-width center">
    <h2 class="pad-top">Mmmm, whatcha say?</h2>
    <p>What past clients and collaborators have to say</p>
    <div class="testimonials">
      <div class="quote">
        <p>
          "Francesco has the rare talent of being able to embed himself in a
          niche that he previously knew nothing about, quickly understanding the
          intricacies and writing with the confidence of an insider."
        </p>
        <div>
          {%- include "_client-avatar1.html" -%}
          <div class="credit">
            <small><b>Rob Cowen</b></small>
            <small
              >Founder,
              <a
                href="https://www.seatingplan.com/"
                target="_blank"
                rel="noopener"
                >Mega Seating Plan</a
              >
            </small>
          </div>
        </div>
      </div>
      <div class="quote">
        <p>
          "Fran has been great to work with, he helped me to rework my website
          copy to align with a new direction I wanted to take. He is quick,
          responsive and a brilliant copywriter"
        </p>
        <div>
          {%- include "_client-avatar2.html" -%}
          <div class="credit">
            <small><b>Sarah Brown</b></small>
            <small
              ><a
                href="https://www.sarahyuklan.com/"
                target="_blank"
                rel="noopener"
                >Holistic Coach</a
              ></small
            >
          </div>
        </div>
      </div>
      <div class="quote">
        <p>
          "A dream collaborator. Organised and strategic, he asks the right
          questions, does his research, and presents fantastic options"
        </p>
        <div>
          {%- include "_client-avatar3.html" -%}
          <div class="credit">
            <small><b>Carly Anchal</b></small>
            <small
              ><a
                href="https://www.linkedin.com/in/carly-anchal-nee-little-3a9b7112"
                target="_blank"
                rel="noopener"
                >PR & Marketing Manager</a
              ></small
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
