{%- macro whatYouGet(items) -%}
<section class=" whatyouget pad-bottom">
  <h2>What you'll always get ↓</h2>
  <div>
    {%- for item in items -%}
    <div>
      <h3>{{ item.title | safe }}</h3>
      <p>{{ item.text | safe }}</p>
    </div>
    {%- endfor -%}
  </div>
</section>
{%- endmacro -%}
