<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% include "_meta.html" %} <link rel="icon" href="/favicon.ico" sizes="any"/>
    <link rel="icon" href="/icon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link
    rel="manifest" href="/site.webmanifest"/> <!-- Preload fonts -->
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
  </head>
  <body>
    <div
      class="wrapper">
      <!-- Header/Navigation -->
      <header class="nav" role="banner">
        <a href="/" class="{% if page.url == '/' %} active {% endif %}" class="logo-link" aria-label="nevernotready home">
          {% include "_avatar.html" %}
        </a>
        {% include "_nav.njk" %}
      </header>
      <!-- Main Content -->
      <main class="main" id="main">
        {{ content | safe }}
      </main>
    </div>
    <!-- Footer -->
    <footer class="footer" role="contentinfo">
      <div class="footer-contents">
        <p>
          Designed with love and anxiety in Folkestone, Kent
        </p>
        <div>
          <img
            src="https://cdn.prod.website-files.com/67c5b664e63bc23229e6a933/67c5de2e24da63e03b727a05_3.svg"
            alt="Francesco signature"
            class="signature__icon"
            width="26"
            height="44"
            loading="lazy"/>
        </div>
      </div>
    </footer>
  </body>
</html>