@use 'sass:map';
@use 'variables' as *;

// ===================================
// BASE STYLES
// ===================================
// Generic Reset + Typography

// ===================================
// Generic Reset
// ===================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// ===================================
// Load Fonts
// ===================================
@font-face {
  font-family: 'Ronzino';
  src: url('/assets/fonts/Ronzino-Regular.woff2') format('woff2'),
    url('/assets/fonts/Ronzino-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ronzino';
  src: url('/assets/fonts/Ronzino-Oblique.woff2') format('woff2'),
    url('/assets/fonts/Ronzino-Oblique.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ronzino';
  src: url('/assets/fonts/Ronzino-MediumOblique.woff2') format('woff2'),
    url('/assets/fonts/Ronzino-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ronzino';
  src: url('/assets/fonts/Ronzino-Medium.woff2') format('woff2'),
    url('/assets/fonts/Ronzino-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ronzino';
  src: url('/assets/fonts/Ronzino-BoldOblique.woff2') format('woff2'),
    url('/assets/fonts/Ronzino-BoldOblique.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ronzino';
  src: url('/assets/fonts/Ronzino-Bold.woff2') format('woff2'),
    url('/assets/fonts/Ronzino-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ===================================
// Root elements
// ===================================

:root {
  font-family: Ronzino, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 100%;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  overscroll-behavior-x: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: $font-base;
  font-weight: 400;
  line-height: $lh-base;
  letter-spacing: $letter-spacing-base;
  color: map.get($colors, text);
  background: map.get($colors, bg-translucent);
  scrollbar-width: auto;
  scrollbar-color: map.get($colors, text-subtle) transparent;

  *:focus-visible, *:focus {
    outline: $border-width dotted map.get($colors, links);
    outline-offset: map.get($spacing, xs);
  }

  &::-webkit-scrollbar {
    width: $unit;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: map.get($colors, text-subtle);
  }
}

// ===================================
// Typography
// ===================================

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 map.get($spacing, md) 0;
  font-weight: 500;
  font-size: $font-large;
  letter-spacing: $letter-spacing-large;
  line-height: $lh-tight;
  color: map.get($colors, text);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $font-xl;
  font-weight: 700;
  letter-spacing: $letter-spacing-xl;
  line-height: $lh-packed;
  margin: 0;

  a {
    text-decoration: none;
    color: map.get($colors, links);
  }
}

h3 {
  font-size: $font-base;
  line-height: $lh-base;
}

p {
  margin: 0 0 map.get($spacing, md) 0;
  color: map.get($colors, text-subtle);
  text-rendering: optimizeSpeed;
  max-width: $container-width;

  &:last-child {
    margin-bottom: 0;
  }
}

small, .small-link {
  font-size: $font-sm;
  line-height: $lh-base;
  color: map.get($colors, text-subtle);
}

a {
  width: fit-content;
  color: currentColor;
  text-decoration: calc($unit/($perfect-fourth * 2)) underline;
  text-underline-offset: map.get($spacing, xs);

  &:hover,
  &:focus-visible,
  &.active:hover,
  &.active:focus-visible {
    color: map.get($colors, links);
    text-decoration-color: map.get($colors, links);
  }

  &:focus {
    outline: auto;
  }

  h2 {
    color: inherit;
  }

}

i {
  font-style: italic;
  font-weight: inherit;
}

b {
  font-weight: 500;
}

ul,
ol {
  margin: 0 0 0 map.get($spacing, md);
  padding: 0;
  color: map.get($colors, text-subtle);

  li:last-child {
    margin-bottom: map.get($spacing, sm);
  }
}

ol {
  list-style: decimal;
  padding-left: map.get($spacing, xs);

  li {
    display: list-item;
    padding-bottom: map.get($spacing, sm);
  }
}

li {
  display: inline-block;
  margin: 0;
}