@use 'sass:map';
@use 'variables' as *;

// ===================================
// COMPONENTS & UTILITIES
// ===================================
// Buttons + Content Components + Utilities

// ===================================
// BUTTONS
// ===================================

button,
.button-like {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: map.get($spacing, xs) map.get($spacing, sm);
  border: $border-width solid map.get($colors, links);
  border-radius: map.get($spacing, xs);
  font-size: $font-base;
  font-family: inherit;
  text-align: inherit;
  color: map.get($colors, bg);
  text-decoration: none;
  background: map.get($colors, links);
  box-shadow: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: map.get($colors, links-subtle);
  }

  &.secondary {
    background: map.get($colors, bg);
    color: map.get($colors, text-subtle);
    border: $border-width solid map.get($colors, text-subtle);

    &:hover,
    &:focus-visible {
      background: map.get($colors, bg-more-translucent);
    }
  }
}

.invert {
  border: $border-width solid map.get($colors, text-subtle);
  color: map.get($colors, text);
  background: map.get($colors, bg);

  &:hover,
  &:focus-visible {
    color: map.get($colors, bg);
    background: map.get($colors, text-subtle);
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: map.get($spacing, sm);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &:has(.button-like) {
     gap: map.get($spacing, md);
  }
}

// ===================================
// CONTENT COMPONENTS
// ===================================

hr {
  border: none;
  border-bottom: $border-width dotted map.get($colors, bg-translucent);
  margin: map.get($spacing, lg) 0;
}

.pop {
  padding: map.get($spacing, md) map.get($spacing, md) calc(map.get($spacing, md) * $perfect-fourth) map.get($spacing, md);
  background: map.get($colors, bg);
  border: $border-width solid map.get($colors, text-subtle);
  border-radius: map.get($spacing, xs);

  h2 {
    margin-bottom: map.get($spacing, sm);
  }
}

.projects-showcase {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: map.get($spacing, xl);
  row-gap: map.get($spacing, 2xl);

  img {
    background: map.get($colors, bg);
    border: $border-width solid map.get($colors, text-subtle);
    border-radius: map.get($spacing, xs);
  }

  >* {
    flex: 1 1 calc(50% - (map.get($spacing, xl) / 2));
  }

  @media only screen and (max-width: map.get($breakpoints, md)) {
    >* {
      flex: 1 1 40%;
    }
  }

  @media only screen and (max-width: map.get($breakpoints, sm)) {
    gap: map.get($spacing, md);

    >* {
      flex: 1 1 100%;
    }
  }
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: map.get($spacing, sm);
  flex-wrap: wrap;

  .role {
    color: map.get($colors, text-subtle);
  }

  figure figcaption {
    font-weight: 500;
    font-size: revert;
  }
}

.image-scroll {
  overscroll-behavior-x: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: map.get($spacing, sm);
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  // Webkit scrollbar styling (Safari, Chrome)
  &::-webkit-scrollbar {
    height: $unit;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: map.get($colors, text-subtle);
  }

  // Standard scrollbar styling (Firefox) - only applied where supported
  @supports (scrollbar-color: auto) {
    scrollbar-width: thin;
    scrollbar-color: map.get($colors, text-subtle) transparent;
  }

  picture {
    flex: 0 0 auto;
    display: inline-block;
  }

  img {
    aspect-ratio: auto;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    display: inline-block;
    flex: 0 0 auto;
    width: auto;
    height: calc(map.get($spacing, 2xl) * 4);
    border: $border-width solid map.get($colors, text-subtle);
    border-radius: map.get($spacing, xs);
    opacity: 1;
  }

  @media only screen and (max-width: map.get($breakpoints, md)) {
    img {
      height: calc(map.get($spacing, 2xl) * 2.5);
    }
  }

  @media only screen and (max-width: map.get($breakpoints, sm)) {
    img {
      height: calc(map.get($spacing, 2xl) * 2);
    }
  }
}

.playground {
  column-gap: map.get($spacing, lg);
  margin-bottom: map.get($spacing, xl);
  flex-direction: column;


  h3 {
    margin-bottom: 0;
  }

  >div:first-of-type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: map.get($spacing, xs);
    margin-bottom: map.get($spacing, sm);

    h3 {
      margin-right: auto;
      padding-right: map.get($spacing, lg);
    }
  }
}

.quote {
  @include flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;

  @media only screen and (max-width: map.get($breakpoints, sm)) {
    padding: map.get($spacing, md);
  }

  >div {
    @include flex(row, map.get($spacing, md));

    .credit {
      @include flex(column, map.get($spacing, xs));
      flex: 1 1 100%;
      justify-content: flex-start;
      align-content: start;
      flex-wrap: nowrap;

      p {
        margin: 0;
      }
    }
  }
}

// ===================================
// UTILITIES
// ===================================

.logo {
  height: clamp(1.618rem, 3vw, 2.617rem);
  width: auto;
  max-width: revert;
}

.pad-top-md {
  margin-top: map.get($spacing, md);
}

.pad-top-sm {
  margin-top: map.get($spacing, sm);
}

.pad-top-lg {
  margin-top: map.get($spacing, lg);
}

.pad-bottom {
  margin-bottom: map.get($spacing, 2xl);
}

.pad-bottom-sm {
  margin-bottom: map.get($spacing, sm);
}

.pad-bottom-large {
  margin-bottom: calc(map.get($spacing, xl) * 4);
}

.invert-bg{
  background: map.get($colors, text);
  h2, p {
    color: map.get($colors, bg);
  }

  a.button-like {
    border: $border-width solid map.get($colors, bg);
  }

  a:not(.button-like):hover {
    color: map.get($colors, links-subtle);
    text-decoration-color: map.get($colors, bg-more-translucent);
  }

  &.green {
    background: map.get($colors, links);
  }
}

.cap-width {
  max-width: $container-width;
}

.cap-width-sm {
  max-width: calc($container-width / $golden-ratio);
}

.light {
  color: map.get($colors, text-more-subtle);
}

ul.plain-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-content: start;
  flex-wrap: nowrap;
  gap: map.get($spacing, xs);
  margin-left: 0;
  color: map.get($colors, text-subtle);
  list-style: none;
}

.side-by-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
  gap: map.get($spacing, md);

  >div {
    padding: map.get($spacing, md);
    border: $border-width solid map.get($colors, text-subtle);
    border-radius: map.get($spacing, xs);
    background: map.get($colors, bg);
    @include flex(column, map.get($spacing, xs));
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}

.simple-sb-flex {
  @include flex(row, map.get($spacing, lg));
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  * {
    margin-bottom: map.get($spacing, md);
  }
}

.pricing-grid {
  display: grid;
  gap: map.get($spacing, xs);
}

.pricing-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: map.get($spacing, md);
  padding: map.get($spacing, sm);
  border-bottom: $border-width dashed map.get($colors, text-more-subtle);
  align-items: center;

  &.pricing-header {
    font-weight: bold;
    border-bottom: $border-width solid map.get($colors, text-more-subtle);
    grid-template-columns: 1fr 1fr;
  }

  span:last-child {
    text-align: right;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  padding-inline: map.get($spacing, sm);

  &>div {
    @include flex(column, map.get($spacing, sm));
    justify-content: center;
    align-items: center;
    padding: map.get($spacing, md);
    background: map.get($colors, bg);
    border: $border-width dotted map.get($colors, text);
    border-radius: map.get($spacing, sm);
    text-align: center;
    max-width: calc($container-width / 1.618);

    p {
      margin: 0;
      color: map.get($colors, text-subtle);
    }

    p:last-of-type {
      margin-bottom: map.get($spacing, md);
    }
  }
}

.give-border {
  border: $border-width solid map.get($colors, text-subtle);
  border-radius: map.get($spacing, xs);
}

.selected-work-card {
  background: map.get($colors, bg);
  h2 {
    width: fit-content;
    padding: map.get($spacing, md) map.get($spacing, md) 0 map.get($spacing, md);
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  &:hover {
    background: map.get($colors, links);
    h2 {
      color: map.get($colors, bg);
    }
    .light {
      color: map.get($colors, bg-more-translucent);
    }
  }
}

.green-text {
  color: map.get($colors, links);
}

.mobile-only {
  display: none;
  visibility: hidden;

  @media only screen and (max-width: map.get($breakpoints, md)) {
    display: block;
    visibility: visible;
  }
}

.streamline-freehand--send-email-fly::after {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f9f3f3' d='M22.615 5.296a2.86 2.86 0 0 0 .84-2.29c-.26-2.67-4.451-2-7.011 2.63a.3.3 0 0 0 .1.41a.31.31 0 0 0 .46-.11c.8-1.27 2.52-3.14 4-3.43a1.6 1.6 0 0 1 1.22.06c.44.33.2 1.25-.12 1.71l-.75.73c-.07.12-.64.53-.3 1s1 0 1.61.7c1.09 1.21-1.77 1.89-1.69 2.7c0 .36.43.42.85.51c1.72.321-.62 3.151-3.3 3.481a.35.35 0 0 0-.3.37c.08.72 2.06-.1 2.65-.41a5.8 5.8 0 0 0 1.91-1.47a1.85 1.85 0 0 0-.11-2.68c2.03-1.36 1.5-3.3-.06-3.91m-17.132 7.79a6 6 0 0 1-2-.72c-.68-.38-1.671-1.14-1.841-1.92c-.28-1.36 1.21-.35 1.36-1.35a.65.65 0 0 0-.28-.57c-.18-.13-.66-.41-.69-.43a3 3 0 0 1-.7-.6a.88.88 0 0 1 .55-1.49c.22 0 .77 0 1.12-.32c.63-.791-1.24-1.071-1.37-2.681a.79.79 0 0 1 .23-.74a.84.84 0 0 1 .49-.15a4 4 0 0 1 2.53 1.07c.847.71 1.582 1.542 2.18 2.47a.29.29 0 0 0 .4.1a.3.3 0 0 0 .11-.41a11.6 11.6 0 0 0-2.18-2.75a5.5 5.5 0 0 0-2.11-1.27a3.9 3.9 0 0 0-1.13-.16a1.77 1.77 0 0 0-.88.29a1.7 1.7 0 0 0-.71 1.29a2.83 2.83 0 0 0 .84 2.26a2.3 2.3 0 0 0-.9.63a1.9 1.9 0 0 0-.5 1.2c-.011.42.115.83.36 1.17c.273.361.613.666 1 .9a1.44 1.44 0 0 0-.52.66a1.7 1.7 0 0 0-.07.901c.067.407.239.79.5 1.11a6.1 6.1 0 0 0 1.86 1.43a6.9 6.9 0 0 0 2.28.71a.34.34 0 0 0 .37-.3a.33.33 0 0 0-.3-.33m2.911 4.291a.3.3 0 0 0-.31.28c-.12.56-.27 1.1-.37 1.66a6 6 0 0 0-.1.72c0 .24 0 .48-.05.72v1.7a.34.34 0 0 0 .67.11c.15-.57.31-1.11.43-1.68c.05-.24.09-.48.12-.73a6 6 0 0 0 0-.73c0-.59-.07-1.15-.12-1.74a.29.29 0 0 0-.27-.31m3.721-.27a.301.301 0 0 0-.6-.05a10 10 0 0 0-.25 1.95q.01.562.08 1.12q.105.807.09 1.62a.34.34 0 0 0 .26.4a.35.35 0 0 0 .4-.27c.206-.647.317-1.32.33-2q.015-.577-.06-1.15c-.07-.53-.22-1.06-.25-1.62m3.8 2.11c-.11-.47-.27-.9-.4-1.36a.3.3 0 0 0-.527-.154a.3.3 0 0 0-.063.214a14 14 0 0 0-.08 1.43q.02.603.16 1.19c.1.46.23.9.34 1.36a.34.34 0 0 0 .36.31a.34.34 0 0 0 .296-.237a.3.3 0 0 0 .014-.133q.037-.714 0-1.43q.023-.3 0-.6a4 4 0 0 0-.1-.59'/%3E%3Cpath fill='%23f9f3f3' d='M16.814 7.556a1.85 1.85 0 0 0-.77-.2a36 36 0 0 0-4.381 0a19 19 0 0 0-4.541.65c-.3.14-.73.41-.73 1.76q.006 2.509.28 5.002a.74.74 0 0 0 .66.64c1.14 0 5.07-.11 7.441-.23c.78 0 1.4-.07 1.69-.1c.136-.012.269-.05.39-.11a1.15 1.15 0 0 0 .33-.73q.246-1.823.24-3.661c.014-.751-.05-1.502-.19-2.24a1.47 1.47 0 0 0-.42-.78m-1 .91a1.4 1.4 0 0 1 .31 0c-.6.32-1.89 1-3.051 1.54l-1.23.561c-.46.2-.55.29-1.07 0s-1-.59-1.51-1s-.96-.56-1.341-.89q.935-.143 1.88-.19a52 52 0 0 1 5.961-.02zm.37 5.542c0 .08-.11.09-.19.1c-1 .07-3.061.27-5.001.4c-2.44.16-3.371.2-3.651.21a.1.1 0 0 1-.11-.09a21 21 0 0 1-.1-2.43c0-1.14 0-2.391.1-3.091a23 23 0 0 0 2.19 1.94a4.5 4.5 0 0 0 1.65.91a4.7 4.7 0 0 0 1.93-.69a38 38 0 0 0 3.211-2.12c0 .24.05.51.07.81a30 30 0 0 1-.1 4.05'/%3E%3C/svg%3E");
}

.streamline-freehand--phone-retro-1::after {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23f9f3f3' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M23.614 6.053a6.9 6.9 0 0 0-.859-1.888a5.3 5.3 0 0 0-1.468-1.538A16.55 16.55 0 0 0 12.21.001a14.4 14.4 0 0 0-8.928 2.996a8.8 8.8 0 0 0-2.157 2.596a7.6 7.6 0 0 0-.93 3.287a7 7 0 0 0 0 1.368a1 1 0 0 0 .4.74c.452.257.968.378 1.488.349a29 29 0 0 0 3.096-.58a.31.31 0 0 0 .25-.16h.09a.3.3 0 0 0 .319-.279c0-.39.1-1.168.19-1.848q.039-.547.18-1.078a.9.9 0 0 1 .519-.3q.59-.1 1.188-.1a70 70 0 0 1 3.256-.24h2.147l3.146.08h.819a.7.7 0 0 1 .27.06q.009.206 0 .41q-.109.96-.11 1.927a1.4 1.4 0 0 0 .579 1c.267.17.56.295.869.369c.399.1.819.14 1.198.2c.38.06 1.059.21 1.628.239c.3.026.6-.005.889-.09c.29-.101.534-.303.689-.57c.163-.282.281-.588.35-.908a6 6 0 0 0 .189-1.738a8.2 8.2 0 0 0-.22-1.677m-.998 3.165a3 3 0 0 1-.17.52c0 .08-.07.16-.15.19a1.7 1.7 0 0 1-.68 0c-.488 0-.998-.15-1.347-.19a9 9 0 0 1-1.079-.15a1.8 1.8 0 0 1-.56-.21c-.159-.1-.159-.32-.159-.549c0-.57.12-1.228.09-1.618a2.3 2.3 0 0 0-.11-.719a.87.87 0 0 0-.33-.42a1.5 1.5 0 0 0-.589-.2a9 9 0 0 0-1.058 0h-3.136c-.74 0-1.478 0-2.217.07c-1.099.05-2.187.21-3.276.34a6 6 0 0 0-1.538.28a1.44 1.44 0 0 0-.649.51a4.2 4.2 0 0 0-.22 1.048c-.08.659-.15 1.508-.19 1.997a.4.4 0 0 0-.15 0c-.758.09-1.717.4-2.616.49a2.2 2.2 0 0 1-1.448-.24v-.09a1.6 1.6 0 0 1 0-.46V8.92a6.86 6.86 0 0 1 .83-2.926A8 8 0 0 1 3.86 3.696a13.5 13.5 0 0 1 8.36-2.667a15.6 15.6 0 0 1 8.458 2.517c.452.32.836.728 1.129 1.198c.314.478.556 1 .719 1.548q.181.719.23 1.458c.024.494-.027.99-.15 1.468z'/%3E%3Cpath d='M22.216 15.25a6.36 6.36 0 0 0-2.147-2.756a5.7 5.7 0 0 0-1.468-.699a20 20 0 0 0-2.207-.52a11 11 0 0 0-1.378-.209c0-.21.08-.43.11-.66a3.5 3.5 0 0 0 .05-.558q.015-.285 0-.57c0-.489-.14-.928-.19-1.328a.299.299 0 0 0-.577-.115a.3.3 0 0 0-.022.115c-.09.38-.22.82-.3 1.308q-.015.285 0 .57v.569c0 .19 0 .45.07.649h-.64c-1.254.04-2.505.16-3.744.36c.07-.28.14-.58.19-.91a3.4 3.4 0 0 0 0-.558q.03-.275 0-.55a7 7 0 0 0-.3-1.288a.3.3 0 1 0-.59 0c0 .36-.14.769-.19 1.248q-.015.265 0 .53v.529c0 .39.07.749.09 1.069c-1.303.144-2.579.48-3.784.998a6 6 0 0 0-2.227 1.828q-.45.617-.77 1.308a15 15 0 0 0-.738 2.107c-.23.879-.45 1.818-.61 2.767a22 22 0 0 0-.35 2.826a.31.31 0 0 0 .28.32a.3.3 0 0 0 .26-.23q.105-1.386.39-2.747c.19-.918.42-1.837.669-2.696q.24-.846.599-1.648a6.8 6.8 0 0 1 .859-1.468a5.1 5.1 0 0 1 1.997-1.518a12.7 12.7 0 0 1 3.795-.899a30 30 0 0 1 4.165-.34c.903-.006 1.804.088 2.686.28c.71.16 1.418.28 2.097.5a4.8 4.8 0 0 1 1.169.569a5.23 5.23 0 0 1 1.758 2.277a18 18 0 0 1 1.108 4.544c.143.814.194 1.641.15 2.467a1.4 1.4 0 0 1-.6.16q-.744.045-1.487 0h-4.245c-2.946 0-5.892-.07-8.848 0a69 69 0 0 0-5.892.249a.34.34 0 0 0-.366.478a.34.34 0 0 0 .366.191c1.947-.1 3.905-.14 5.862-.14c2.936 0 5.882.09 8.808.19l4.265.11q.953.082 1.907 0c.362-.05.706-.19.999-.41c.233-.257.36-.591.36-.938a14.7 14.7 0 0 0-.16-2.477a19 19 0 0 0-1.229-4.884'/%3E%3Cpath d='M9.283 21.672c.404.162.827.273 1.259.33a9.7 9.7 0 0 0 1.847 0a5.15 5.15 0 0 0 3.495-1.758a4.18 4.18 0 0 0 .88-3.785a4.8 4.8 0 0 0-.89-1.768a6.4 6.4 0 0 0-1.408-1.298a3 3 0 0 0-.998-.46a1.76 1.76 0 0 0-.82 0a.3.3 0 0 0-.119-.06a2.4 2.4 0 0 0-1.059 0c-.499.091-.98.26-1.428.5a5.6 5.6 0 0 0-1.078.719c-.34.29-.64.627-.89.999a5.46 5.46 0 0 0-.758 4.244a3.35 3.35 0 0 0 1.967 2.337m-.509-6.142q.286-.481.689-.869q.42-.382.909-.669q.475-.278.999-.45c.322-.104.666-.124.998-.06h.07a.34.34 0 0 0 .36.12c.203-.027.41 0 .599.08q.335.131.629.34c.451.337.852.737 1.188 1.188c.322.441.547.945.66 1.478a3.23 3.23 0 0 1-.79 2.897a4.05 4.05 0 0 1-2.786 1.308a8 8 0 0 1-1.358 0a4.6 4.6 0 0 1-1.238-.27a2.53 2.53 0 0 1-1.518-2.167a4.7 4.7 0 0 1 .589-2.926'/%3E%3C/g%3E%3C/svg%3E");
}