@use 'sass:map';
@use 'variables' as *;

// ===================================
// COMPONENTS: Footer
// ===================================

footer {
  width: 100%;
  min-height: fit-content;
  margin: 0;
  padding: 0;
  border-top: $border-width solid map.get($colors, border);

  section {
    @include flex(column, map.get($spacing, xl));
    justify-content: flex-end;
    align-items: flex-start;

    a:hover,
    a:focus-visible {
      color: map.get($colors, bg-more-translucent);
      text-decoration-color: map.get($colors, bg-more-translucent);
    }

    h2,
    p,
    a,
    span {
      margin: map.get($spacing, xs) 0 0;
    }

    .logo {
      fill: map.get($colors, bg);
    }

    .f-innergroup {
      @include flex(column, map.get($spacing, sm));
      gap: map.get($spacing, xs);
      justify-content: flex-start;
      align-items: stretch;

      h2,
      a {
        margin: 0;
        padding: 0;
      }
    }
  }
}
