@use 'sass:map';
@use 'variables' as *;

// ===================================
// UTILITIES
// ===================================

.hidden {
  display: none;
}

.light {
  margin: 0 0 map.get($spacing, sm);
  font-weight: 600;
  font-size: $font-large;
  letter-spacing: $letter-spacing-large;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
  text-wrap: balance;
  padding-top: map.get($spacing, md);
  color: map.get($colors, text-faint);

  &:first-of-type {
    padding-top: map.get($spacing, xs);
  }
}

ul.plain-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-content: start;
  flex-wrap: nowrap;
  gap: map.get($spacing, xs);
  margin-left: 0;
  color: map.get($colors, text-subtle);
  list-style: none;
}

.center {
  margin: 0 auto;
}
