@use 'sass:map';

// ===================================
// Variables, Maps and Mixins
// ===================================

// Magic numbers as variables
$golden-ratio: 1.618;
$perfect-fourth: 1.333;
$icon-scale: 4.5;
$base-rem: 1rem;

// Typography
$font-family: 'Inter Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, sans-serif;

$scale-ratio: 1.414; // Type scale ratio

$font-base: clamp($base-rem, 1.3vw, 1.2rem);
$font-sm: calc($font-base / $scale-ratio);
$font-large: calc($font-base * $scale-ratio);
$font-xl: calc($font-large * $scale-ratio);

$lh-base: 1.5;
$lh-tight: 1.3;
$lh-packed: 1.2;

$letter-spacing-base: -0.009em;
$letter-spacing-large: calc($letter-spacing-base * $golden-ratio);
$letter-spacing-xl: calc($letter-spacing-large * $golden-ratio);

// Spacing
$unit: 0.25rem;
$spacing: (
  xs: $unit,
  sm: $unit * 2,
  md: $unit * 4,
  lg: $unit * 6,
  xl: $unit * 10,
  2xl: $unit * 16,
);

// Colors
$colors: (
  bg: #f9f3f3,
  text: #061308,
  text-subtle: color-mix(in srgb, #061308 80%, #f9f3f3),
  text-more-subtle: color-mix(in srgb, #061308 65%, #f9f3f3),
  links: #00610f,
  links-subtle: #86cb90,
  red: #ff6149,
  bg-translucent: color-mix(in srgb, #f9f3f3 97%, #061308),
  bg-more-translucent: color-mix(in srgb, #f6f6f6 87%, #061308),
  border: color-mix(in srgb, #f9f3f3 75%, #061308),
);

// Layout
$container-width: 54ch;
$border-width: thin;
$header-height: 3rem;

// Breakpoints
$breakpoints: (
  md: 820px,
  base: 600px,
  sm: 480px,
);

@mixin flex($dir: column, $gap: null) {
  display: flex;
  flex-direction: $dir;

  @if $gap {
    gap: $gap;
  }
}
