@use 'sass:map';

// ===================================
// Variables, Maps and Mixins
// ===================================

// Magic numbers as variables
$golden-ratio: 1.618;
$perfect-fourth: 1.333;
$opacity-fix: 0.99; // Prevents rendering issues
$icon-scale: 4.5;
$logo-scale: 3;

// Typography
$font-base: 'Inter Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, sans-serif;

$scale-ratio: 1.414; // Type scale ratio

$font-base: clamp(1rem, 1.3vw, 1.2rem);
$font-large: calc($font-base * $scale-ratio);
$font-xl: calc($font-large * $scale-ratio);

$line-height-base: 1.5;
$line-height-tight: 1.2;

$letter-spacing-base: -0.015em;
$letter-spacing-large: -0.025em;
$letter-spacing-xl: -0.035em;

// Spacing
$unit: 0.25rem;
$spacing: (
  xs: $unit,
  sm: $unit * 2,
  md: $unit * 4,
  lg: $unit * 6,
  xl: $unit * 10,
  2xl: $unit * 16,
);

// Colors
$colors: (
  bg: #f9f3f3,
  text: #061308,
  text-subtle: color-mix(in srgb, #061308 80%, #f9f3f3),
  text-faint: color-mix(in srgb, #061308 65%, #f9f3f3),
  links: #00610f,
  links-subtle: #86cb90,
  red: #ff6149,
  bg-translucent: color-mix(in srgb, #f9f3f3 97%, #061308),
  bg-more-translucent: color-mix(in srgb, #f6f6f6 87%, #061308),
  border: color-mix(in srgb, #f9f3f3 75%, #061308),
);

// Layout
$container-width: 60ch;
$border-width: $golden-ratio * 1px;
$ext-icon-size: map.get($spacing, sm) + map.get($spacing, xs);
$transition-speed: 150ms;

// Breakpoints
$breakpoints: (
  md: 820px,
  sm: 480px,
);

@mixin flex($dir: column, $gap: null) {
  display: flex;
  flex-direction: $dir;

  @if $gap {
    gap: $gap;
  }
}
