@use "sass:map";
/*! 
 * Main Stylesheet
 * Author: Francesco Imola
 */

//
// 1. ABSTRACTS
// ----------------------------------
// Variables, functions, mixins and maps that don't output CSS directly
// These form the foundation of your styles

// Color System
$colors: (
  bg: #f6f6f6,
  text: hsl(129, 52%, 5%),
  text-subtle: color-mix(in srgb, #061308 80%, #f6f6f6),
  links: hsl(129, 100%, 19%),
  links-subtle: hsl(129, 40%, 40%),
  bg-translucent: color-mix(in srgb, #f6f6f6 95%, #061308),
  bg-more-translucent: color-mix(in srgb, #f6f6f6 85%, #061308),
);

// Spacing Scale
$spaces: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  2xl: 4rem,
);

// Breakpoints
$breakpoints: (
  md: 768px,
  sm: 480px,
);

// Other Measurements
$container-width: min(55ch, 100% - 2rem);
$ext-icon: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-up-right'%3E%3Cline x1='7' y1='17' x2='17' y2='7'%3E%3C/line%3E%3Cpolyline points='7 7 17 7 17 17'%3E%3C/polyline%3E%3C/svg%3E");
$ext-icon-size: 0.875rem;
$major-third: 1.25;

// Typography System
$font-base: "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, sans-serif;
$font-size-base: clamp(1rem, 0.4783rem + 1.7391vw, 1rem);
$font-size-large: calc($font-size-base * $major-third);
$font-size-small: calc($font-size-base / $major-third);
$font-weight-standard: 400;
$font-weight-bold: 600;

// Helper Functions
@function color($key) {
  @return map.get($colors, $key);
}

@function space($key) {
  @return map.get($spaces, $key);
}

@function breakpoint($key) {
  @return map.get($breakpoints, $key);
}

// Mixins
@mixin responsive($breakpoint) {
  @media only screen and (max-width: #{breakpoint($breakpoint)}) {
    @content;
  }
}

//
// 3. BASE
// ----------------------------------
// Global element selectors, CSS reset/normalize, typography system, etc.

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-size: $font-size-base;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.6;
  font-family: $font-base;
  font-size: $font-size-base;
  font-weight: $font-weight-standard;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss01" 1, "ss03" 1, "ss04" 1;
  font-optical-sizing: auto;
  color: color(text);
  background-color: color(bg);

  & *:focus-visible {
    outline: 0.125rem solid color(text);
    outline-offset: 0.125rem;
  }
}

// Base Elements
svg {
  display: block;
  max-width: 100%;
  height: auto;
  fill: color(text);
}

img {
  @extend svg;
  background-color: color(bg-translucent);
}

figure {
  display: flex;
  flex-direction: column;
  gap: space(xs);
  width: 100%;

  figcaption {
    margin-top: space(sm);
  }
}

details > summary {
  h2 {
    display: inline;
  }
  gap: space(lg);
}

// Typography Base
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 space(xs);
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  line-height: 1.6;
  color: color(text);
  text-rendering: optimizeLegibility;
}

h2 {
  margin-top: space(md);
}

p {
  margin: 0 0 space(sm) 0;
  color: color(text-subtle);
  max-width: 65ch;
  text-rendering: optimizeSpeed;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: currentColor;
  text-decoration: underline;
  text-underline-offset: 0.2rem;

  &:focus {
    outline: auto;
    outline-offset: 0.2rem;
  }

  h2 {
    color: inherit;
  }

  &:after {
    text-decoration: none;
  }
}

small {
  font-size: $font-size-small;
  color: color(text-subtle);
}

ul {
  list-style-type: lower-roman;
  margin-left: space(md);
  color: color(text-subtle);

  li:last-child {
    margin-bottom: space(sm);
  }
}

i {
  font-style: italic;
}

b {
  font-weight: $font-weight-bold;
}

li {
  margin: 0 0 space(xs);

  &:last-child {
    margin-bottom: 0;
  }
}

// Font Declaration
@font-face {
  font-family: "Inter Variable";
  src: url("/fonts/InterVariable.woff2") format("woff2 supports variations"),
    url("/fonts/InterVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Variable";
  src: url("/fonts/InterVariable-Italic.woff2")
      format("woff2 supports variations"),
    url("/fonts/InterVariable-Italic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

//
// 4. LAYOUT
// ----------------------------------
// Major layout components that structure the page (grid, container, etc.)

.wrapper > * {
  width: 100%;
  max-width: $container-width;
  margin: 0 space(md) 0 space(md);
  padding: space(2xl) 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: start;
  flex-wrap: nowrap;
  gap: calc(space(xl) + space(md));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: start;
  flex-wrap: nowrap;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: start;
  flex-wrap: nowrap;
  width: 100%;
  gap: space(xs);
}

section.work,
a[href="/projects"],
a[href^="http"] {
  & > .inline-link {
    display: inline-block;
    margin-top: space(sm);
    @extend a;
  }
}

.no-limits {
  max-width: revert;
  width: calc(100vw - 2rem);
  padding-right: space(md);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: space(md);
  row-gap: space(2xl);

  .span-two {
    grid-column: span 2;
    max-width: $container-width;
  }  
}

.whatyouget {
  h2, div {
    margin-bottom: space(xl);
  }

  div:last-of-type {
    margin-bottom: 0;
  }

  h3 {
    color: color(text-subtle);
    margin-bottom: space(sm);
  }
}

.quote {
  @extend img;
  background-color: color(bg-translucent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: space(lg);

  > div {
    margin-top: space(md);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: start;
    flex-wrap: nowrap;
    gap: calc(space(xs) / $major-third);
  }
}

.image-container {
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color(links); // Solid green with transparency
    color: color(bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
  }

  &:hover .overlay-text {
    opacity: 1;
  }
}

.footer-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

//
// 5. COMPONENTS
// ----------------------------------
// Specific UI components and patterns

// Navigation bar
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: start;
  flex-wrap: wrap;
  gap: space(xs);
  width: 100%;
  padding: space(sm) space(md);

  a {
    display: block;
    padding: space(xs);
    margin: calc(space(xs) * -1);

    svg {
      width: auto;
      height: calc(space(2xl) / calc($major-third*$major-third));
      fill: color(links);
    }
  }

  nav {
    margin-top: space(xs);
    display: flex;

    ul {
      list-style-type: none;
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      color: currentColor;

      li {
        display: flex;

        &:not(:first-child) {
          margin-left: space(sm);
        }
      }

      a.active {
        font-weight: $font-weight-bold;
        text-decoration: none;
      }
    }
  }
}

.work {
  padding-right: space(sm);
  font-size: $font-size-small;

  .role {
    color: color(text-subtle);
  }

  figure figcaption {
    font-weight: $font-weight-bold;
  }

  div:last-of-type {
    padding-right: space(xs);
  }
}

// Buttons and Actions
a.button {
  display: inline-flex;
  width: fit-content;
  align-content: center;
  border: 0.0625rem solid transparent;

  &:active {
    box-shadow: none;
  }

  // External link icon
  &::after {
    content: "\00a0 ↗";
    position: static;
    width: auto;
    height: auto;
    right: calc(space(xs) * $major-third);
    top: calc(space(xs) / $major-third);
    width: $ext-icon-size;
    height: $ext-icon-size;
  }
}

// Service Lists
.services ul {
  color: color(text-subtle);
  max-width: 65ch;
  list-style-type: none;
  margin-left: 0;
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: left;
  flex-wrap: nowrap;
  gap: space(sm);
  padding: space(md) 0 space(2xl) space(md);
  justify-content: flex-end;
  min-height: 45rem;
  color: color(bg-translucent);

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    max-width: $container-width;
  }

  .signature p {
    color: color(bg-translucent);
    font-size: $font-size-small;
    line-height: 1;
    letter-spacing: -0.00625rem;
    margin: space(md) 0 0 0;
  }

  svg {
    width: space(lg);
    height: auto;
  }
}

.signature__icon {
  width: 1.625rem;
  height: 2.75rem;
}

// Slideframe Component
.slideframe {
  position: fixed !important;
  z-index: 99999 !important;
  pointer-events: none !important;

  &--visible {
    pointer-events: auto !important;

    .slideframe-generalclose {
      visibility: visible !important;
      opacity: 1 !important;
      pointer-events: auto !important;
    }

    .slideframe-container {
      right: 0 !important;
    }
  }

  &-generalclose {
    display: block !important;
    position: fixed !important;
    inset: 0 !important;
    background: rgba(0, 0, 0, 0.25) !important;
    pointer-events: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    transition: all 0.1s ease-out !important;
    z-index: 99998 !important;
  }

  &-container {
    width: 95% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: -100% !important;
    transition: right 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 0px !important;
    z-index: 99999 !important;

    &-titlebar {
      min-height: calc(space(xl) + space(xs)) !important;
      line-height: calc(space(xl) + space(xs)) !important;
      background: color(bg) !important;
      color: color(text) !important;
      -webkit-font-smoothing: antialiased !important;
      display: flex !important;
      font-family: $font-base !important;
      font-size: $font-size-base !important;
      font-weight: bold !important;
      padding: space(sm) !important;

      strong {
        font-weight: normal !important;
        color: inherit !important;
        font: inherit !important;
      }
    }

    &-frame {
      border: none !important;
      width: 100% !important;
      height: calc(100% - (space(xl) + space(xs))) !important;
      background: color(bg) !important;
    }

    &-titlebar-title {
      flex-grow: 1 !important;
      text-align: center !important;
      padding: 0 space(md) !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;

      &:before {
        content: "\25CF";
        position: absolute !important;
        margin-left: calc(space(lg) * -1.17) !important;
        animation: sl-circle infinite 0.8s !important;
        opacity: 0 !important;
        transition: opacity 0.4s !important;
      }
    }
  }
}

.slideframe-body {
  &--noscroll {
    overflow: hidden !important;
  }

  &--loading * {
    cursor: wait !important;

    .slideframe-container-titlebar-title:before {
      opacity: 1 !important;
      transform-origin: 50% 50% !important;
    }
  }
}

.slideframe-btn,
.slideframe-btn:hover {
  appearance: none !important;
  display: block !important;
  flex-shrink: 0 !important;
  height: 100% !important;
  font-size: space(lg) !important;
  font-family: inherit !important;
  color: inherit !important;
  width: calc(space(xl) + space(xs)) !important;
  background: none !important;
  border: none !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  line-height: inherit !important;
}

//
// 6. UTILITIES
// ----------------------------------
// Single-purpose utility classes that do one thing well

.no-margin-bottom {
  margin-bottom: 0;
}

.wide {
  width: 100%;
}

p + .button {
  margin-top: space(sm);
}

.button + small {
  margin-top: space(sm);
  max-width: 75%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}

//
// 7. RESPONSIVE
// ----------------------------------
// Media queries and responsive adjustments

@include responsive(md) {
  .wrapper > * {
    gap: space(md);
  }

  main {
    gap: space(md);
  }

  header {
    gap: space(sm);
    & ul {
      margin-left: 0;
    }
  }

  .work {
    margin-bottom: space(lg);
  }

  .no-limits {
    row-gap: space(sm);
  }
}

@include responsive(sm) {
  header {
    gap: space(xs);
  }

  .wrapper > * {
    padding-block: space(xl);
  }

  .slideframe-container {
    width: 100% !important;
  }

  .button + small {
    max-width: 95%;
  }
}

@media (hover: hover) and (pointer: fine) {
  a:hover,
  a:focus-visible {
    text-decoration: none;
    color: color(links);
  }

  section.work:hover > .inline-link,
  section.work:focus-visible > .inline-link {
    text-decoration: none;
  }

  section.work,
  a[href="/projects"],
  a[href^="http"] {
    &:hover,
    &:focus-visible {
      & > .inline-link {
        text-decoration: none;
      }
    }

    img {
      transition: background-color 0.2s ease-in-out;
    }

    img:hover,
    img:focus-visible {
      background-color: color(links-subtle);
    }
  }
}

/* @media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none !important;
  }
}
 */
