---
layout: _base.njk
title: About | nevernotready
description: Everything you need to know about me and my work.
permalink: "/about/"
---

<section class="max-width center pad-bottom pad-top">
    <h1>Who's behind nevernotready</h1>
    <p>I'm Francesco Imola, a designer and marketer from Kent, England.
    </p>
    <p>I drag busy businesses into the present with design and words that show who they've become, not who they wanted to be years ago. My work replaces their DIY fixes and makes it clear what they're really selling.</p>
    <p>I've previously worked with teams from <a href="https://www.gre.ac.uk/las/design" target="_blank" rel="noopener">University of Greenwich</a>, <a href="https://www.seatingplan.com/" target="_blank" rel="noopener">Mega Seating Plan</a>, and <a href="https://blueberrycreatives.co.uk/" target="_blank" rel="noopener">Blueberry</a>, in both B2B and B2C enviroments.</p>
    </section>

<section class="max-width center pad-bottom">
    <h2>Today, people hire me for 3 reasons</h2>
    <ul class="plain-list">
        <li>To rescue websites that no longer match their current direction.</li>
        <li>To run marketing campaigns that keep getting put on the back burner. </li>
        <li>To help them focus on business growth over marketing headaches.</li>
    </ul>
</section>

<section class="max-width center pad-bottom">
<h2>Don't trust generalists?</h2>
<p>I feel you on that. And that's because even I didn't at first! For years I worried I was spreading myself too thin. Would my love of all things design and marketing and building and creating make me useless?</p>
<p>But somewhere along the way, reality hit:</p>
<p>The industry needs generalists more than it likes to admit.</p>
<p>And since I don't have that one hyper-specialised talent to ram down your throat, I can help you find more holistic answers to you questions. Enough of those "your SEO is broken, let me fix it" sort of conversations that leave you wondering what you've just agreed to.</li>
</ul>
</section>

<figure class="center pad-bottom">
    <img
            data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/dithered-image_3_nviyue.png"
            class="cld-responsive"
            alt="map of my offering plotted on a graph"
            loading="lazy"
          />
        <figcaption class="pad-sides">If you're still trying to wrap your head around my business offering, here it is plotted on a graph (and <a href="https://notbadnotbad.substack.com/p/what-the-map" target="_blank" rel="noopener">how this map came about</a>)</figcaption>
    </figure>

<section class="max-width center pad-bottom">
<h2>Why nevernotready?</h2>
<p>Or better yet, why use "nevernotready" if I'm just a freelancer? I've given my business a name for a couple of reasons.</p><p>I believe that the best way to show you're capable of creating a strong brand identity is to build one for yourself. Otherwise it's like being an architect with a dingy-looking office—doesn't inspire confidence. On top of that, a brand name also helps me keep work and life separate. It gives "freelancing" its own container.</p>
<p>The word brings to mind conversations I've had with freelancers and business owners who would put off important but time-consuming work because they were too busy with the day-to-day (like looking after staff).</p>
<p>They weren't ready. Ready to shout "this is us now!" from the rooftops. Ready to tell it like it is. Ready to pivot.</p>
<p>So that's where I come in: I help them get ready.</p>
</section>

<figure class="max-width center pad-bottom">
    <img
            data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744645112/francesco_kngh32.png"
            class="cld-responsive"
            alt="close up of Francesco"
            loading="lazy"
          />
        <figcaption>That's me. Hello!</figcaption>
    </figure>

<section class="max-width center pad-bottom">
<h2>See what I'm all about</h2>
<p>Let's have a quick chat before making any decisions. We'll discuss your project, I'll offer my advice, and you can decide if we're the right fit.</p>
<a href="https://cal.com/francescoimola/intro" class="button" target="_blank" rel="noopener" data-slideframe="true">
  <span>Book a free call</span>
</a>
</section>