---
layout: _base.njk
title: About | nevernotready
description: Francesco Imola's design and marketing practice — websites, unignorable copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.
permalink: "/about/"
---

<section class="section content">
    <h1>Hello, it’s Francesco (he/they)</h1>
    <p>
        I could have gone a long roundabout way to avoid introducing myself with a job title, but I find that rather
        anti-climactic and ultimately it pays to be direct, so here goes:
    </p>
    <p>
        I'm a design and communications generalist with a background in operations, events, marketing and art. I'm based in
        Folkestone, England. For half a decade my work has helped 100s of department heads, creatives and business owners. Today, people hire me for 3 reasons:
    </p>
    <ul>
        <li>To clear their schedules of time-sucking projects</li>
        <li>To help them focus on actual business and long-term growth</li>
        <li>And to bring clarity to their marketing chaos strategy</li>
    </ul>
</section>
<img src="/assets/Francesco.png" alt="TEDx Journeys project screenshot" loading="lazy"/>
<section class="section content">
    <h1>What I do best</h1>
    <p>
        I use design, words and strategy to get people to buy your stuff, book your time or attend your events. I can make sure
        your foundations are strong, your audience is engaged and you're attracting leads even in your sleep. I can do so thanks to a broad understanding of multiple fields.
    </p>
</section>
<section class="section content">
    <h1>Don't trust generalists?</h1>
    <p>
        I feel you on that—not everyone values breadth over narrow focus.
    </p>
    <p>
        Even I didn't at first!
    </p>
    <p>
        For years I worried I was spreading myself too thin. Would my love of all things design and marketing and building and
        creating make me useless?
    </p>
    <p>
        But the truth is: the industry needs generalists more than it likes to admit.
    </p>
    <p>
        The broader my expertise grows, the better prepared I'll be for whatever comes next. The best part? It's fulfilling
        work, and I rarely get bored.
    </p>
</section>
<section class="section content">
    <h1>Why nevernotready?</h1>
    <p>
        Or better yet, why use “nevernotready” if I'm just a freelancer?
    </p>
    <p>
        I've given my business a name for a couple of reasons:
    </p>
    <ul>
        <li>The best way to show you're capable of creating a strong brand identity is to build one for yourself. Otherwise it's
            like being an architect with the worst looking office you've ever seen—doesn't inspire confidence.</li>
        <li>A brand name also helps me keep work and life separate. It gives "freelancing" its own container.</li>
    </ul>
    <p>
        The word brings to mind conversations I've had with freelancers and business owners. They'd put off important but
        time-consuming work because they were too busy with the day-to-day, like talking to clients or looking after staff.
    </p>
    <p>
        They weren't ready. Ready to grow. Ready to pivot.
    </p>
    <p>
        So that's where I come in: I help them get ready.
    </p>
</section>
{% set cardColor = "green" %}
{% set getReady = true %}
{%- include "_cta-general.njk" -%}