---
layout: _base.njk
title: Contact - Francesco Imola
description: Let's make something together
permalink: "/contact/"
navtitle: Contact
---

<section class="max-width center pad-bottom">
    <h2>Let's talk</h2>
    <p>Ready to talk business? Want to discuss an idea? You're a long-lost friend looking to catch up?</p>
    <p>Drop me an email or a quick SMS and I'll get in touch as soon as I can.</p>
    <p>hi@francescoimola.com</br>
    <a href="mailto:hi@francescoimola.com"  target="_blank" rel="noopener">
        <span>Send me an email</span>
    </a>
    </p>
    <p>+44 7356 031458</br>
    <a href="sms:+447356031458"  target="_blank" rel="noopener">
        <span>Send me a text</span>
    </a>
    </p>
</section>

<section class="max-width center pad-bottom">
    <h2>Skip the preambles</h2>
    <p>If you're not into back-and-forth emails before a call or an IRL chat, you can book a free meeting to speak to me directly. I'll keep it short and sweet.</p>
    <p><a href="https://calendar.app.google/bHUuF8ir5oacMvLb6"  target="_blank" rel="noopener" data-slideframe="true">Book a call</a></p>
</section>
