---
layout: _base.njk
title: Contact | nevernotready
description: Let's make something meaningful together
permalink: "/contact/"
---

<section class="max-width center pad-bottom pad-top">
    <h1>Let's talk about your project</h1>
    <p>Whether you're ready to talk business or just want to chat about your ideas, I'm here to help.</p>
    <p>Drop me an email or a quick SMS with a couple of words about yourself, and I'll get in touch as soon as I can.</p>
    <p></p>
    <p>hey@nevernotready.club</br>
    <a href="mailto:hey@nevernotready.club" class="ext-link" target="_blank" rel="noopener">
        <span>Send me an email</span>
    </a>
    </p>
    <p></p>
    <p>+44 7356 031458</br>
    <a href="sms:+447356031458" class="ext-link" target="_blank" rel="noopener">
        <span>Send me a text</span>
    </a>
    </p>
</section>

<section class="max-width center pad-bottom">
    <h2>Skip the preambles</h2>
    <p>If you're not into back-and-forth emails before a call or an IRL chat, you can book a free meeting to speak to me directly. I'll keep it short and sweet.</p>
    <p><a href="https://calendar.app.google/bHUuF8ir5oacMvLb6" class="ext-link" target="_blank" rel="noopener" data-slideframe="true">Book a call</a></p>
</section>
