---
layout: _base.njk
title: Contact | nevernotready
description: Francesco Imola's design and marketing practice — websites, unignorable copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.
permalink: "/contact/"
---

<section class="max-width center pad-bottom pad-top">
    <h1>Let's talk about your project</h1>
    <p>Whether you're ready to talk business or just want to chat about your ideas, I'm here to help.</p>
    </p>
    <p>Drop me an email or a quick SMS with a couple of words about yourself, and I'll get in touch as soon as I can.</p>
    <a href="mailto:hey@nevernotready.club" class="button" target="_blank" rel="noopener">
        <span>Send me an email</span>
    </a>
    <a href="sms:+447778267338" class="button" target="_blank" rel="noopener">
        <span>Send me a text</span>
    </a>
</section>

<section class="max-width center pad-bottom">
    <h2>Want to skip the preambles?</h2>
    <p>Book a free call to discuss your project with me directly. I promise to keep it short and sweet. </p>
    <p>Book a call</p>
</section>

<section class="max-width center pad-bottom">
<h2>Don't trust generalists?</h2>
<p>I feel you on that. And that's because even I didn't at first! For years I worried I was spreading myself too thin. Would my love of all things design and marketing and building and creating make me useless?</p>
<p>But somewhere along the way, reality hit:</p>
<p>The industry needs generalists more than it likes to admit.</p>
<p>And since I don't have that one hyper-specialised talent to ram down your throat, I can help you find more holistic answers to you questions. Enough of those "your SEO is broken, let me fix it" sort of conversations that leave you wondering what you've just agreed to.</li>
</ul>
</section>

<section class="max-width center pad-bottom">
<h2>Why nevernotready?</h2>
<p>Or better yet, why use "nevernotready" if I'm just a freelancer? I've given my business a name for a couple of reasons.</p><p>I believe that the best way to show you're capable of creating a strong brand identity is to build one for yourself. Otherwise it's like being an architect with a dingy-looking office—doesn't inspire confidence. On top of that, a brand name also helps me keep work and life separate. It gives "freelancing" its own container.</p>
<p>The word brings to mind conversations I've had with freelancers and business owners who would put off important but time-consuming work because they were too busy with the day-to-day (like looking after staff).</p>
<p>They weren't ready. Ready to shout "this is us now!" from the rooftops. Ready to tell it like it is. Ready to pivot.</p>
<p>So that's where I come in: I help them get ready.</p>
</section>

<figure class="max-width center pad-bottom">
    <img
            data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744645112/francesco_kngh32.png"
            class="cld-responsive"
            alt="francesco"
            loading="lazy"
          />
        <figcaption>That's me. Hello!</figcaption>
    </figure>

<section class="max-width center pad-bottom">
<h2>See what I'm all about</h2>
<p>Let's have a quick chat before making any decisions. We can discuss your project, I'll offer my advice, and you can decide if we're the right fit.</p>
<a href="https://cal.com/francescoimola/intro" class="button" target="_blank" rel="noopener" data-slideframe="true">
  <span>Book a free call</span>
</a>
</section>