---
layout: _base.njk
title: Emails - {{ pkg.author }}
description: Pretty good newsletters and email marketing
permalink: '/emails/'
---
{%- from "_whatyouget.njk" import whatYouGet -%}

<section class="max-width center pad-bottom">
  <h2>Make your mailing list do a front flip</h2>
  <p>
    I write pretty good newsletters and email marketing <i>*citation needed*</i>. The kind your audience can genuinely relate to. The ones
    they <i>open</i>, <i>read</i>, and <i>act</i> on. Not a "synergetic" or "hope you're well"
    in sight.
  </p>
    <a
      href="https://calendar.app.google/bHUuF8ir5oacMvLb6"
      
      target="_blank"
      rel="noopener"
      data-slideframe="true"
    >Let's talk emails</a>
    <p>A friendly chat to see if we should work </p>
</section>

<!-- Value Proposition -->
<section class="max-width center pad-bottom">
  <h2>What I can help with</h2>
  <ul class="plain-list">
    <li>Newsletter writing</li>
    <li>Nurturing campaigns</li>
    <li>Email marketing audit</li>
    <li>Platform set-up</li>
  </ul>
</section>

{%- set whatYouGetItems = [
{ title: "1. Marketing that just *feels* right",
text: "Can you picture that? People reaching out to you because they get what
you're selling, not because you've built them up with false expectations. Fewer
that's-not-what-I-thought-I-was-buying moments and more customers who stay
because you've been honest from day one." },
{ title: "2. Questions that get you places",
text: "I can't help it, I question things. I can't imagine you paying
me to just nod in agreement. Our conversations might shake up ideas, or tweak something that's been bothering you. Either way, you
won't waste money on cookie-cutter email marketing advice." },
{ title: "3. Sustainable growth over quick wins",
text: "I hate seeing brands waste money on
flashy campaigns that fall apart by winter. I think long term. Your customers
will notice (oh trust me, they will!), and you can stop feeling pressured to
reinvent the wheel every single time a new marketing trend pops up." } ] -%}
{{ whatYouGet(whatYouGetItems) }}

<section class="max-width center pad-bottom">
  <h2>What are your prices?</h2>
  <p>
    Fees depend on scale, level of client involvement, how fast you need it done, and whether it's one-off or ongoing work.
  </p>
  <p>
    As a general rule, I calculate prices for email marketing according to how many days a project
    will take to complete, based on a minimum day rate of £150.
  </p>
  <p>I also offer non-stackable discounts on payment terms to everyone—see <a href="/faqs#concessions">details about concessions here</a>.</p>
    <p>Please <a href="/contact">contact me</a> for a quote.
  </p>
</section>

{%- include "_cta-faq.njk" -%}

<section class="max-width center pad-bottom">
  <h2>An email for you, one for you, and one for you too!</h2>
  <p>
    Emails for everyone. Want in? Book a free 20 min call to discuss your
    project. I'll offer my advice and you can decide if we're a good fit.
  </p>
  <a
    href="https://calendar.app.google/bHUuF8ir5oacMvLb6"
    
    target="_blank"
    rel="noopener"
    data-slideframe="true"
  >
    <span>Book a free call</span>
  </a>
</section>
