---
layout: _base.njk
title: nevernotready | Design & Marketing Practice | Francesco Imola
description: Francesco Imola's design and marketing practice — websites, unignorable copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.
permalink: "/"
---

<!-- Intro -->
<section class="section">
    <h1>nevernotready</h1>
    <p>
        Francesco Imola's design and marketing practice. I'm your moustachioed guide to websites you won't drown in, unignorable
        copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.</p>
</section>

<!-- Value Proposition -->
<section class="section">
    <h2>So what?</h2>
    <p>
        Admit it, you deserve a site that actually reflects the business you've grown into. Systems that save you from late-night fiddling hell. And words that make it painfully obvious what you're selling (yet won't make people roll their eyes at LinkedIn guru platitudes).</p>
</section>

{% set cardColor = "green" %}
{%- include "_cta-general.njk" -%}

<!-- About Section -->
<section class="section">
    <h2>Who am I?</h2>
    <p>
        A pretty honest designer and copywriter, I work with small businesses and non-profits who believe that good values and
        good business go hand in hand. I help them test small marketing ideas on the fly. We keep what works and drop what
        doesn't, so we can grow sustainably.
    </p>
</section>

{%- include "_showcase-card.html" -%}
{%- include "_newsletter.html" -%}
