---
layout: _base-personal.njk
title: nevernotready | Francesco Imola's design & marketing practice
description: Websites, copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.
permalink: '/playground/'
---

