---
layout: _base.njk
title: Projects | nevernotready
description: Francesco Imola's design and marketing practice — websites, unignorable copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.
permalink: "/projects/"
---

{%- from "_project-card.njk" import projectCard -%}

<main class="no-limits">
  <section class="span-two">
    <h1>These people got too good for their old marketing.</h1>
    <p>
      Maybe you're a consultant whose services have evolved, a growing team with
      new talents, or a charity whose mission has sharpened.
    </p>
    <p>Still, the story you tell the world often lags behind.</p>
    <p>
      Businesses change faster than most people realise. It's not anyone's
      fault, you're on the front line busy doing the work.
    </p>
    <p>
      You know you've got a problem when your marketing starts to undermine your
      expertise. You're confusing customers with tired slogans. You're
      underselling the impact of your product. Or you're having to explain away
      your services during client calls.
    </p>
    <p>
      Here are some people that recognised this gap and finally decided to hire
      me. Some needed email campaigns that they never found time to run. Others
      needed buttery-smooth event planning that reflected their reputation. Many
      needed marketing operations that wouldn't fall apart when things got busy.
    </p>
  </section>

  {{ projectCard(
    role = "SEO Writing",
    description = "Wrote SEO content that connected teachers with software that saved them
      hours of classroom prep time, while boosting search rankings and
      solidifying the app's reputation as a top-rated edtech product.",
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1745572369/msp_nnncta.png",
      alt: "Image description",
      title: "Mega Seating Plan"
    }
  ) }}

  {{ projectCard(
    role = "Newsletter writing",
    description = "A growing Substack newsletter where I give independent business owners
      realistic alternatives to hustle culture through honest stories about my
      own freelance struggles and successes.",
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1746052803/not_bad_with_quotes_tzqn5y.png",
      alt: "Image description",
      title: "Not Bad"
    }
  ) }}

  {{ projectCard(
    role = "Website writing",
    description = "Turned the website of a holistic coach from a wordy Google Doc into an SEO-ready business card that got her practice moving forward with ease, all while being super simple to update.",
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1745571992/sarah_ql5qiz.png",
      alt: "Image description",
      title: "Sarah Yuk Lan Brown"
    }
  ) }}

  {{ projectCard(
    role = "Operations",
    description = "Project managed the redesign of Blueberry's website and reengineered
      internal operations—consolidating their tech stack and cutting marketing
      costs by a third with no compromise to output.",
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1745841665/blueberry_website_kdo3jw.png",
      alt: "Image description",
      title: "Blueberry"
    }
  ) }}

  {{ projectCard(
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1745572127/tedx_greenwich_hqmpqe.png",
      alt: "Image description",
      title: "TEDx University of Greenwich"
    },
    role = "Landing page design",
    description = "Built TEDx Greenwich's a landing page that simplified the attendee
      experience and freed organizers to concentrate on the event instead of
      answering logistical questions."
  ) }}

  {{ projectCard(
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1745837882/how_to_be_good_c2melr.png",
      alt: "Image description",
      title: "University of Greenwich, How to be Good: a case study for Virtual
        Production workflows"
    },
    role = "BTS photography and content creation",
    description = "Documented and promoted a research initiative that demystified
      cutting-edge filmmaking tech and created resources for indie filmmakers."
  ) }}

  {{ projectCard(
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1746050373/uog_ftv_marketing_dym5lo.png",
      alt: "Image description",
      title: "University of Greenwich"
    },
    role = "Content design and event facilitation",
    description = "Kept students' spirit alive during COVID and elevated the reputation of Greenwich's
      Film & TV programmes through targeted industry
      updates, social media storytelling, and PR stories."
  ) }}

  {{ projectCard(
      image = {
        src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1746198258/how_to_feel_more_at_home_ud1nrf.png",
        alt: "Image description",
        title: "How to feel more at home"
      },
      role = "Creative coding",
      description = "Expanded digital essay that elaborates my displacement through
        interactive audiovisual fragments and invites viewers to consider their
        own sense of belonging while exploring my perspective."
    ) }}

  {{ projectCard(
    image = {
      src: "https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1746048779/greenwich_galleries_design_g7uxs1.png",
      alt: "Image description",
      title: "University of Greenwich Galleries"
    },
    role = "Marketing design",
    description = "Connected people who wouldn't normally enter a white cube to art,
      culture, and design by co-creating clear and personable exhibition
      collaterals."
  ) }}
</main>
