---
layout: _base.njk
title: Projects | nevernotready
description: Francesco Imola's design and marketing practice — websites, unignorable copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.
permalink: "/projects/"
---
<main class="no-limits">
<section class="work">
  <figure>
    <img
      data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
      class="cld-responsive"
      alt="screeenshot of the folks directory homepage"
      loading="lazy"
    />
    <figcaption>That's me</figcaption>
  </figure>
</section>
<section class="work">
    <figure>
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      />
      <figcaption>That's me</figcaption>
    </figure>
  </section>
  <section class="work">
    <figure>
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      />
      <figcaption>That's me</figcaption>
    </figure>
  </section>
  <section class="work">
    <figure>
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      />
      <figcaption>That's me</figcaption>
    </figure>
  </section>
  <section class="work">
    <figure>
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      />
      <figcaption>That's me</figcaption>
    </figure>
  </section>
  <section class="work">
    <figure>
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      />
      <figcaption>That's me</figcaption>
    </figure>
  </section>
  <section class="work">
    <figure>
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      />
      <figcaption>That's me</figcaption>
    </figure>
  </section>
  <section class="work">
    <figure>
      <img
        data-src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto/dpr_auto/v1744628450/folks_okskqh.png"
        class="cld-responsive"
        alt="screeenshot of the folks directory homepage"
        loading="lazy"
      />
      <figcaption>That's me</figcaption>
    </figure>
  </section>
</main>
