---
layout: _base.njk
title: Studio Francesco Imola
description: Delightful things with pixels and words made by Francesco Imola from a seaside town in Kent.
permalink: '/studio/'
navtitle: Studio
---

<section class="pad-bottom">
	<div class="side-by-grid">
		<figure class="grid-item">
			<img src="https://res.cloudinary.com/dax6x2pto/image/upload/c_limit,w_auto,f_auto/dpr_auto/francesco_kngh32.png"
				class="give-border" alt="close up of Francesco" loading="lazy" decoding="async" />
		</figure>
	</div>
	<div class="pad-top">
		<h2>Hello, I'm Francesco
			<br><span class="light">A designer and creative strategist based in Folkestone, Kent. This is my office on
				the web.</span>
		</h2>
		<p>I spent almost a decade helping to platform emerging creatives and executing campaigns across one of the UK's
			fiercest industries. Now I help small businesses regain control of their marketing without burning out.</p>
		<a href="/services">Explore my offering</a>
	</div>
</section>

<section class="pad-bottom">
	<h2>Where I can help</h2>
	<p>I partner with small businesses and solopreneurs to work both in and on their marketing. As a team of (almost
		always) one, I can be a versatile extension of your team without the agency overheads.</p>
	<div class="side-by-grid pad-top">
		<div class="grid-item">
			<div>
				<h3>Done for you</h3>
			</div>
			<p>I design, write, and build your <a href="/services#website-design">website</a> or <a href="/services#email-marketing">email campaigns</a>
				while you focus on running your business.</p>
		</div>
		<div class="grid-item">
			<div>
				<h3>Consultations</h3>
			</div>
			<p><a href="/services#consulting">We make space</a> to dig into your challenges, audit what's working (and what's not), and figure out the best
				path forward.</p>
		</div>
		<div class="grid-item">
			<div>
				<h3>Guided work</h3>
			</div>
			<p>We work side-by-side in <a href="/services#do-it-together">focused sessions</a> to reflect, plan, troubleshoot, and make
				progress.</p>
		</div>
	</div>
</section>

<section class="pad-bottom pop invert">
	<h2>Ready to work together?</h2>
	<p>Schedule a free 30-minute call to see if we're right for each other</p>
	<p><a data-cal-link="francescoimola/intro" data-cal-namespace="intro"
			data-cal-config='{"layout":"month_view","theme":"light"}' style="cursor: pointer;">Book a free intro</a> →
	</p>
	<p>Too early to decide? <a href="/how-i-work">Learn about how I work</a></p>
</section>

{%- include "_testimonials.njk" -%}