---
layout: _base.njk
title: Selected projects | nevernotready
description: These people got too good for their old marketing. Thankfully, they eventually recognised it and decided to hire me.
permalink: '/wayfinding/'
---