---
layout: base.njk
title: Websites | nevernotready
description: Francesco Imola's design and marketing practice — websites, unignorable copy, and SEO that doesn't read like a marketing textbook. All at a fraction of agency prices.
permalink: "/websites/"
cta-color: green
---

<!-- Intro -->
<section class="section">
    <h1>Get a site people actually want to visit</h1>
    <p>
        Admit it, you deserve a site that works as hard as you do: it’s time to get one that loads faster than you can say
        “where's their email” and guides visitors straight to what they need. No more going ‘round in circles.
    </p>
    <div class="button-wrapper">
        <a href="https://cal.com/francescoimola/intro" class="button button--light" target="_blank" rel="noopener">
            <span>Let's chat about your site</span>
        </a>
    </div>
</section>
<!-- Value Proposition -->
<section class="section services">
    <h2>What I can help with</h2>
    <ul>
        <li>Website design</li>
        <li>Site and content writing</li>
        <li>Low-code development</li>
        <li>Figma to Framer or Webflow</li>
        <li>Website audits</li>
    </ul>
</section>
{%- include "_showcase-card.html" -%}
<!-- Values -->
<section class="section">
    <h2>Effortless updates</h2>
    <p class="no-margin-bottom">
        Update your site as easily as you tweak a spreadsheet. No coding. No waiting on devs. No expensive maintenance fees. I
        deliver websites that can grow with your business and that you’ll always be in control of.
    </p>
</section>
<section class="section">
    <h2>Streak-free typography</h2>
    <p class="no-margin-bottom">
        When font choices are off, you can feel it—it all looks a bit out of place. Not in my book. Great typography helps turn
        casual browsers into engaged readers and it’s why I carefully work with type to add depth.
    </p>
</section>
<section class="section">
    <h2>Low-impact website, high-impact experience</h2>
    <p class="no-margin-bottom">
        Your website will reach more people and perform better by focusing on what matters. Less data-heavy videos or
        battery-draining animations means you get a more accessible design that’s also lighter on the planet.
    </p>
</section>
{%- include "_cta-faq.njk" -%}
{% set link = "https://cal.com/francescoimola/intro" %}
{% set cardColor = "blue" %}
{%- include "_cta-general.njk" -%}