---
layout: _base.njk
title: Websites | nevernotready
description: Intuitive websites. Built to guide people, not send them going around in circles.
permalink: '/websites/'
---
{%- from "_whatyouget.njk" import whatYouGet -%}

<section class="max-width center pad-bottom pad-top">
  <h1>You deserve a site people actually want to visit</h1>
  <p>A website that's intuitive. Built to guide people, not send them going
    'round in circles. One where they instantly find what they came for, so they trust you more and find your offer a whole lot easier to say yes to.</p>
    <a
      href="https://cal.com/francescoimola/intro"
      class="button"
      target="_blank"
      rel="noopener"
      data-slideframe="true"
    >Let's chat about your site</a>
    <small>Chat first, commit later. Simple as.</small>
</section>

<!-- Value Proposition -->
<section class="max-width center pad-bottom">
  <h2>Things I can help with</h2>
  <ul class="plain-list">
    <li>Website design</li>
    <li>Site and content writing</li>
    <li>Low-code development</li>
    <li>Figma to Framer or Webflow</li>
    <li>Website audits</li>
  </ul>
</section>
</div>

{%- set whatYouGetItems = [
  { title: "1. Effortless updates", text: "What if updating your site was quicker than making a pivot table in Excel? I'll hand you tools simple enough to do exactly what you need. So when you need to launch that event a week early, you can do it straight away, not whenever your developer gets around to it." },
  { title: "2. Type that doesn't get in the way", text: "Typography helps people read your content. Like, really read it. That's why I never treat it as an afterthought. When typography's done right, visitors tend to stick around long enough to get your message, rather than fighting with tiny text or clumsy spacing." },
  { title: "3. Look great without slowing anyone down", text: "Imagine a website that loads faster, works on any device, and welcomes everyone. Clean. Efficient. Built without bloated video or battery-hungry effects. A site that's easier on your visitors and the planet." }
] -%}
{{ whatYouGet(whatYouGetItems) }}

<section class="max-width center pad-bottom">
  <h2>How much does a website cost</h2>
  <p>
    Bringing a site to life depends on its scale and the features you need. A
    basic one-pager starts from £400.
  </p>
  <p>
    As a general rule, I calculate prices according to how many days a project
    will take to complete, based on a minimum day rate of £175.
  </p>
  <p>
    I also offer non-stackable discounts on payment terms to everyone. Please <a href="/contact">contact me</a> for a quote.
  </p>
</section>

{%- include "_cta-faq.njk" -%}


<section class="max-width center pad-bottom">
<h2>Need a hand with your site? Let's chat</h2>
<p>Let's have a quick chat to discuss your project. I'll offer my advice and you can decide decide if it makes sense to move forward.</p>
<a href="https://cal.com/francescoimola/intro" class="button" target="_blank" rel="noopener" data-slideframe="true">
  <span>Book a free call</span>
</a>
</section>
